@using MvcExtensions.Classes;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TestEnvironment</h1>
    <p class="lead">TestEnvironment is a project where there are examples of MvcExtensions.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>DialogActionLink</h2>
        <p>
            DialogActionLink is a cool library.
        </p>
        @Html.DialogAjaxActionLink("TestGetViewWithData", null, "Home", null, "Test Null Values",null,null)
    </div>
</div>